<div class=''>
	<h1 class='first-class'>{{ title }}</h1>
	<button ng-click='submitted()'>click</button>
</div>


<ul>
	<li ng-repeat='item in items'>
		<a href='/blog/{{item.id}}'>{{item.name}}</a>
	</li>
</ul>
