<!DOCTYPE html>
<html lang="en" ng-app='try'>
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Try Angular 1.5</title>


		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js'></script>

		<!-- <script src='node_modules/angular-route/angular-route.js'></script>
		<script src='node_modules/angular-resource/angular-resource.js'></script>

		<script src='node_modules/angular/angular.min.js'></script> -->
		<script src='js/app/app.module.js'></script>
		<script src='js/app/app.config.js'></script>

		<script src='js/app/blog-detail/blog-detail.module.js'></script>
		<script src='js/app/blog-detail/blog-detail.component.js'></script>

		<script src='js/app/blog-list/blog-list.module.js'></script>
		<script src='js/app/blog-list/blog-list.component.js'></script>

		<style>
			.first-class {
				font-size: 60px;
			}
			.second-class {
				font-size: 40px;
			}
		</style>
	</head>

	<body>
		<!-- <div class='' ng-controller='BlogListController'>
			<h1 class='first-class'>{{ title }}</h1>
			<button ng-click='submitted()'>click</button>
		</div> -->
		
		<!-- <blog-list></blog-list> -->
		<!-- <blog-detail></blog-detail> -->
		<div ng-view></div>
	</body>
</html>
